<div class="full">
    <div ng-repeat="array in my.array">
        <div ng-repeat="otherArray in my.otherArray">
            <div ng-repeat="array2 in my.array">
                {{array2 + array}}: {{api | json}}
            </div>
        </div>
    </div>
    <div
            class="col-3 row-12"
            ng-hide='hideFilters'>
        <b>Filters</b>
        <div
                ng-if="filter.priority > 0"
                ng-repeat="filter in table.filters">
            <mngr-input
                    class="full row-2"
                    type="filter.type"
                    name="{{filter.name}}"
                    ng-model="filter.value">
            </mngr-input>
            <mngr-input
                    class="col-13 row-2"
                    type="filter.type"
                    name="{{filter.name}}"
                    ng-model="filter.value2"
                    placeholder="{{filter.name}} (max)"
                    ng-if="filter.operand==='><' && (filter.value2||filter.value2==='')"></mngr-input>
            <select

                class="col-13 row-2"
                ng-if="filter.operand && filter.operands && filter.type !== 'date' && filter.type !== 'datetimepicker'"
                name="{{filter.name}}-operand"
                ng-model="filter.operand"
                ng-options="operand | operandText for operand in filter.operands"
                ></select>
        </div>
    </div>
    <div
            ng-hide="hideSortables"
            class="col-10 row-1 middle-container">
        <span
                class="middle-content text-center"
                ng-repeat="column in table.sortables | orderBy:priority"
                style="width:{{100/table.sortables.length}}%"
                ng-click="column.show=!column.show">
            <div ng-if="column.title">
                {{column.title | uppercase}}
            </div>
            <div ng-if="!column.title">
                {{column.name | uppercase}}
            </div>
        </span>
    </div>
    <div class="col-10 row-11 table-responsive">
        <table class="table full">
            <thead class="col-13 row-1">
                <tr class="middle-container">
                    <th
                            class="middle-content text-center"
                            ng-repeat="column in table.sortables | filter:{show:true} | orderBy:priority">
                        <a ng-click="sort.by(column.name)">
                            <span ng-if="column.title">
                                {{column.title | uppercase}}
                            </span>
                            <span ng-if="!column.title">
                                {{column.name | uppercase}}
                            </span>

                        </a>
                        <span ng-show="sort.column===column.name">
                            <i
                                    class="fa fa-fw"
                                    ng-class="{'fa-sort-asc': !sort.reverse, 'fa-sort-desc': sort.reverse}"></i>
                        </span>
                    </th>
                    <th class="middle-content text-center">Remove</th>
                </tr>
            </thead>

            <tbody class="col-13 row-11 scroll-y " mngr-scroll-pages next-page="scroll.nextPage()"
                   prev-page="scroll.prevPage()"
                   threshold="20%">
                <tr
                        class="col-13 row-2 middle-container"
                        ng-repeat="data in table.filteredData | orderBy:sort.operator:sort.reverse | limitTo:scroll.showCount">
                    <td
                            class="text-center middle-content"
                            ng-repeat="column in table.sortables | filter:{show:true} | orderBy:priority"
                            style="width:{{100/table.sortables.length}}%">
                        <!--input ng-focus="$parent.api.bind($parent.type, key, $parent)" ng-blur="$parent.api.unbind($parent.type, key)" ng-model="$parent.$parent[$parent.type+'-'+key].name" /-->
                        <h4 class="text-left">
                            <a
                                    ng-if="column.link"
                                    ng-href="{{column.link | mngrLinkTo:data:workspace}}">
                      <mngr-link href="column.link" data="data" workspace="workspace"></mngr-link>
                                <span ng-if="column.display">
                                    {{data[column.name] | mngrDisplay:column.display}}
                                </span>
                                <span ng-if="!column.display">
                                    {{data[column.name]}}
                                </span>
                            </a>
                        </h4>
                        <h3 class="text-center middle-container">
                        <span
                                ng-if="!column.link"
                                class="middle-content text-center">
                            <span
                                    ng-if="column.display"
                                    class="text-left" >
                                {{data[column.name] | mngrDisplay:column.display}}
                            </span>
                            <span
                                    class="text-left"
                                    ng-if="!column.display"
                                    ng-model="data[column.name]">
                                <i
                                        ng-hide="bind"
                                        class="text-center"
                                        ng-click="bind=true">
                                    {{column.prefix}} {{data[column.name]}}
                                </i>
                                <i
                                        ng-show="bind"
                                        class="text-center"
                                        ng-click="bind=true">
                                    {{column.prefix}}

                                    <input
                                            class="text-center"
                                            autofocus
                                            on-enter="api.save(type,data.$id); bind=!bind"
                                            ng-model="data[column.name]">
                                    <i
                                            ng-show="bind"
                                            ng-click="api.save(type,data.$id); bind=!bind">Done</i>
                                </i>
                            </span>
                        </span>

                    </h3>
                </td>
                <td class="col-1 row-1 middle-content">
                    <b
                            class="middle-content text-right"
                            ng-click="showRemove=!showRemove"
                            ng-hide="showRemove">
                        [x]
                    </b>
                    <b
                            class="middle-content text-right"
                            ng-show="showRemove"
                            ng-click="api.remove(type,data.$id)">
                        [REMOVE]
                    </b>
                </td>
            </tr>
            </tbody>

            <tfoot class="col-13 row-1">
            <tr>
                <th>
                <td>
                    Footer
                </td>
                </th>
            </tr>

            </tfoot>

        </table>
    </div>

</div>