<div class="full">
    <div
            class="col-3 row-12 pad"
            ng-hide='hideFilters'>
        <h4>Filters </h4>
        <purchase-order></purchase-order>
        <div
                ng-if="filter.priority > 0"
                ng-repeat="filter in table.filters">
            <mngr-input
                    class="full row-2"
                    type="filter.type"
                    name="{{filter.name}}"
                    ng-model="filter.value">
            </mngr-input>
            <mngr-input
                    class="col-13 row-2"
                    type="filter.type"
                    name="{{filter.name}}"
                    ng-model="filter.value2"
                    placeholder="{{filter.name}} (max)"
                    ng-if="filter.operand==='><' && (filter.value2||filter.value2==='')"></mngr-input>
            <select
                class="col-13 row-2"
                ng-if="filter.operand && filter.operands && filter.type !== 'date' && filter.type !== 'datetimepicker'"
                name="{{filter.name}}-operand"
                ng-model="filter.operand"
                ng-options="operand | operandText for operand in filter.operands"
                ></select>
        </div>
    </div>
    <div
            ng-hide="hideSortables"
            class="col-10 row-1 middle-container">
        <span
                class="middle-content text-center"
                ng-repeat="column in table.sortables | orderBy:priority"
                style="width:{{100/table.sortables.length}}%"
                ng-click="column.show=!column.show">
            <div ng-if="column.title">
                {{column.title | uppercase}}
            </div>
            <div ng-if="!column.title">
                {{column.name | uppercase}}
            </div>
        </span>
    </div>
    <div class="col-10 row-11">
        <table class="table full">
            <thead class="col-13 row-1">
                <tr class="middle-container">
                    <th
                            class="middle-content text-center"
                            ng-repeat="column in table.sortables | filter:{show:true} | orderBy:priority"
                            style="width:{{sortableCount()}}">
                        <a ng-click="sort.by(column.name)">
                            <span ng-if="column.title">
                                {{column.title | uppercase}}
                            </span>
                            <span ng-if="!column.title">
                                {{column.name | uppercase}}
                            </span>

                        </a>
                        <span ng-show="sort.column===column.name">
                            <i
                                    class="fa fa-fw"
                                    ng-class="{'fa-sort-asc': !sort.reverse, 'fa-sort-desc': sort.reverse}"></i>
                        </span>
                    </th>

                </tr>
            </thead>

            <tbody class="col-13 row-11 scroll-y " mngr-scroll-pages next-page="scroll.nextPage()"
                   prev-page="scroll.prevPage()"
                   threshold="10%">

                <tr
                        class="col-13 row-2 middle-container"
                        ng-repeat="data in table.filteredData | orderBy:sort.operator:sort.reverse | limitTo:scroll.showCount">
                    <td
                            class="text-center middle-content"
                            ng-repeat="column in table.sortables | filter:{show:true} | orderBy:priority"
                            style="width:{{sortableCount()}}">
                        <!--input ng-focus="$parent.api.bind($parent.type, key, $parent)" ng-blur="$parent.api.unbind($parent.type, key)" ng-model="$parent.$parent[$parent.type+'-'+key].name" /-->
                        <h5 class="text-left">
                            <a
                                    ng-if="column.link"
                                    ng-href="{{column.link | mngrLinkTo:data:workspace}}"
                                    class="pad">
                      <!--mngr-link href="column.link" data="data" workspace="workspace"></mngr-link-->
                                <span ng-if="column.display">
                                    {{data[column.name] | mngrDisplay:column.display}}
                                </span>
                                <span ng-if="!column.display">
                                    {{data[column.name]}}
                                </span>
                            </a>
                        </h5>

                        <b class="text-center middle-container">
                        <span
                                ng-if="!column.link"
                                class="middle-content text-center">
                            <span
                                    ng-if="column.display"
                                    class="text-left" >
                                {{data[column.name] | mngrDisplay:column.display}}
                            </span>
                            <span
                                    class="text-left"
                                    ng-if="!column.display"
                                    ng-model="data[column.name]">
                                <i
                                        ng-hide="bind"
                                        class="text-center"
                                        ng-click="bind=true">
                                    <span ng-if="!column.filter && column.type!=='array'">{{data[column.name]}}</span>
                                    <div ng-if="column.type==='array'" ng-repeat="subject in data[column.name] track by $index">
                                        {{subject}}
                                    </div>
                                    <span ng-if="column.filter==='currency'">{{data[column.name]|currency}}</span>
                                    <h5 ng-if="column.filter==='date'">{{data[column.name]|date:'medium'}}</h5>
                                </i>

                                <h3>
                                    <input
                                        class="text-center"
                                        autofocus
                                        ng-show="bind"
                                        ng-blur="api.save(type,data.$id); bind=!bind"
                                        on-enter="api.save(type,data.$id); bind=!bind"
                                        ng-model="data[column.name]">
                                </h3>
                            </span>
                        </span>

                        </b>
                    </td>
                </tr>
            </tbody>

            <tfoot class="col-13 row-1">
                <tr>
                    <th>
                        <td ng-repeat="foot in table.footer">
                            <!-- div ng-click="foot.action()">{{foot.name}}</div -->
                </td>
                    </th>
                </tr>
            </tfoot>

        </table>
    </div>

</div>