<div>
    <label>{{input.name}}</label>

    <input
        class="col-13"
        ng-if="type === 'text' || type === 'email' || type === 'number'"
        name="{{name}}"
        type="{{type}}"
        ng-model="$parent.ngModel"
        placeholder="{{placeholder}}"
        >
    <textarea
        class="col-13"
        ng-if="type==='textarea'"
        name="{{name}}"
        ng-model="$parent.ngModel"
        placeholder="{{placeholder}}"
        ></textarea>
    <select
        class="col-13"
        ng-if="type==='select'"
        ng-model="$parent.ngModel"
        ng-options="option as option for option in options"
        multiple="multiple"
        >
        <option value="">Choose {{name}}</option>
    </select>

    <!--input
            ng-if="input.type === 'text' || input.type === 'email' || input.type === 'number'"
            name="{{input.name}}"
            type="{{input.type}}"
            ng-model="input.value"
            placeholder="{{input.name}}"
            -->
    <!--textarea
            ng-if="input.type==='textarea'"
            name="{{input.name}}"
            ng-model="input.value"
            placeholder="{{input.name}}"
            ></textarea-->
    <!--select
            ng-if="input.type==='select'"
            ng-model="input.value"
            ng-options="option as option for option in input.options"
            multiple="multiple"
            >
        <option value="">Choose {{input.name}}</option>
    </select-->

</div>