<div>
    <label>{{input.name}}</label>
    <input
            ng-if="input.type === 'text' || input.type === 'email' || input.type === 'number'"
            name="{{input.name}}"
            type="{{input.type}}"
            ng-model="input.value"
            placeholder="{{input.name}}"
            >
    <textarea
            ng-if="input.type==='textarea'"
            name="{{input.name}}"
            ng-model="input.value"
            placeholder="{{input.name}}"
            ></textarea>
    <select
            ng-if="input.type==='select'"
            ng-model="input.value"
            ng-options="option as option for option in input.options"
            multiple="multiple"
            >
        <option value="">Choose {{input.name}}</option>
    </select>
</div>