<div class="full">
    <span class="full" style="display: table">
        <i class="full fa fa-leaf" style="text-align: center; vertical-align: middle; display: table-cell;" ng-click="ui.omni.showOmni=!ui.omni.showOmni"> Omni</i>
    </span>
    <div class="col-6 row-6 lift-1 absolute " ng-show="ui.omni.showOmni">
        <div class="full">
            <span class="col-4 row-13 middle-container">
                <div class="col-13  middle-container" style="height:{{100/3}}%" ng-repeat="(key,workspace) in workspaces">
                    <i class="full {{workspace.icon}} middle-content" ng-click="ui.search.showSearch=!ui.search.showSearch">
                        {{key}}
                    </i>
                </div>
            </span>
            <div class="col-7 row-13">
                <span class="full middle-container">
                    <i class="full fa fa-leaf middle-content" ng-click="ui.search.showSearch=!ui.search.showSearch"> Help and Policies</i>
                </span>
            </div>
            <div class="col-2 row-13">
                <div class="full ">
                    <div class="col-13 " style="height:{{100/components.length}}%" ng-repeat="component in components">
                        <span class="full middle-container">
                            <a ng-click="$parent.$parent.api.link(component.name)" href class="full {{component.icon}} middle-content" ng-click="ui.search.showSearch=!ui.search.showSearch">
                                {{component.name}}
                            </a>
                        </span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
