<div class="full">
    <div class="col-3 row-12">
        Filters
    </div>
    <div class="col-10 row-1 pad">
        Header
    </div>
    <div class="col-10 row-11 scroll-y pad">
        <div ng-repeat="(key,data) in $parent.filteredData">{{key +' :'+data.name}} <b>[ <i ng-hide="confirmRemove" ng-click="confirmRemove=true;" ng-hide="confirmRemove">x</i><i ng-click="$parent.$parent.api.remove('products',key)" ng-show="confirmRemove">Remove?</i> ]</b></div>
    </div>
    <div class="col-13 row-1">
        Footer
    </div>
</div>