<div class="full">
    <span class="full" style="display: table">
        <div
                class="full {{notification.icon}} text-center"
                ng-click="$parent.ui.notify.showNotify=!$parent.ui.notify.showNotify; $parent.ui.notify.notification = notification.name"
                style="text-align: center;vertical-align: middle;display: table-cell;width:{{(100/$parent.$parent.ui.notify.components.length)}}%"
                ng-repeat="notification in $parent.ui.notify.components">

        </div>
    </span>
    <div class="col-8 row-6 drop-1 absolute" ng-if="ui.notify.showNotify">
        <div class="full"><mngr element="ui.notify.notification"></mngr></div>
    </div>
</div>
