<div class="full">
    <span class="col-1 row-13" style="display: table" ng-click="ui.breadcrumbs.showBreadcrumbs=!ui.breadcrumbs.showBreadcrumbs">
        <i class="full fa fa-leaf" style="text-align: center; vertical-align: middle; display: table-cell;"></i>
    </span>
    <input ng-model="cBreadcrumb" class="col-11 row-13 breadcrumbs no-pad"ng-click="ui.breadcrumbs.showBreadcrumbs=!ui.breadcrumbs.showBreadcrumbs">

    <span class="col-1 row-13" style="display: table">
        <i class="full fa fa-caret-down" style="text-align: center; vertical-align: middle; display: table-cell;"></i>
    </span>
    <div class="col-7 row-5 drop-1 absolute" ng-show="ui.breadcrumbs.showBreadcrumbs">
        <div class="full">yup</div>
    </div>
</div>
